{% if vector_sources is defined %}
{{ vector_sources }}
{% endif %}

{% if vector_transforms is defined %}
{{ vector_transforms }}
{% endif %}

{% if vector_sinks is defined %}
{{ vector_sinks }}
{% endif %}
